.button{
   background-color: transparent;
   border: 0px none;
   font-size: 15px;
   width: 100%;
   white-space: nowrap;
   padding: 28px 15px 28px 15px;
   color: white;
   font-weight: 700;
   

}
.button:hover {
    border-bottom: 2px solid red;
}