.movies{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-width: none;
}
.movies::-webkit-scrollbar{
    scrollbar-width: none;
    display: none;
}
.movie{
    display: flex;
    object-fit: contain;
    max-height: 200px;
    transition: transform 450ms;
    margin-right: 10px;
}

.movie:hover{
    transform: scale(1.08);
}
h2 {
    color: white;
}